<!DOCTYPE html>
<html>
  <head>
    <title>Ehah</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.splashLogoURL = "<%= image_url('ehah_logo.png') %>";
      window.signupLoginPageImage = "<%= image_url('signup_login_page_image.png') %>";
      window.footerImg = "<%= image_url('footer_image.png') %>";
      window.linkedinLogo = "<%= image_url('linkedin_logo.png') %>";
      window.githubLogo = "<%= image_url('github_logo.png') %>";
      window.emailLogo = "<%= image_url('email_logo.png') %>";
      window.phoneLogo = "<%= image_url('phone_logo.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
