<!DOCTYPE html>
<html>
  <head>
    <title>Ehah</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon_logo.png') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBAOJeMpc0j5MA6eIORXTMk8qVOBaAOvHI&libraries=places" %>
    <script type="text/javascript">
      window.splashLogoURL = "<%= image_url('ehah_logo.png') %>";
      window.signupLoginPageImage = "<%= image_url('signup_login_page_image.png') %>";
      window.footerImg = "<%= image_url('footer_image.png') %>";
      window.linkedinLogo = "<%= image_url('linkedin_logo.png') %>";
      window.githubLogo = "<%= image_url('github_logo.png') %>";
      window.angellistLogo = "<%= image_url('angellist-logo.png') %>";
      window.portfolioIcon = "<%= image_url('portfolio-site-icon.png') %>";
      window.manhattanHousingIcon = "<%= image_url('manhattan-housing-icon.png') %>";
      window.emailLogo = "<%= image_url('email_logo.png') %>";
      window.phoneLogo = "<%= image_url('phone_logo.png') %>";
      window.eyeIcon = "<%= image_url('eye_icon2.png') %>";
      window.phoneIcon = "<%= image_url('phone_icon.png') %>";
      window.directionIcon = "<%= image_url('direction_icon.png') %>";
      window.searchIcon = "<%= image_url('search_icon.jpg') %>";
      window.commentRatingShowIcon = "<%= image_url('comment-rating-show.png') %>";
      window.userIcon = "<%= image_url('user_icon.jpg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
